<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceArticle" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62519/ServiceArticle.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceArticle"
                contract="ServiceReferenceArticle.IServiceArticle" name="BasicHttpBinding_IServiceArticle" />
        </client>
    </system.serviceModel>
</configuration>